.slide-in {
    animation: slideIn 0.5s ease-in-out;
}

.slide-out {
    animation: slideOut 0.5s ease-in-out;
}

@keyframes slideIn {
    from {
        transform: translateY(-100%);
    }

    to {
        transform: translateY(0);
    }
}

@keyframes slideOut {
    from {
        transform: translateY(0);
    }

    to {
        transform: translateY(-100%);
    }
}

/* Cài đặt chiều rộng cố định cho các cột */
.table th, .table td {
    max-width: 150px;  /* Đặt chiều rộng tối đa cho các cột */
    white-space: nowrap;  /* Ngăn cản việc xuống dòng */
    overflow: hidden;  /* Cắt bỏ phần nội dung thừa */
    text-overflow: ellipsis;  /* Hiển thị ba dấu chấm khi văn bản quá dài */
    word-wrap: break-word;  /* Đảm bảo không có từ nào bị cắt đứt */
  }
  .product-pay{
    flex: 1;
    text-align: left;
  }
  .transaction-pay{
    flex: 1;
    text-align: left;
  }
  