.container {
  font-family: Arial, sans-serif;
  max-width: 1200px;
  margin: 0 auto;

}

.header {
  text-align: center;
  margin-bottom: 20px;
}

.dropdown-section {
  margin-bottom: 20px;
  text-align: center;
}

.stats-section {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.stat-box {
  flex: 1;
  text-align: center;
  background-color: hsl(0, 0%, 89%);
  padding: 15px;
  margin: 0 10px;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.transactions-section {
  margin-top: 20px;
}

.transactions-section table {
  width: 100%;
  border-collapse: collapse;
}

.transactions-section th,
.transactions-section td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

.transactions-section th {
  background-color: #f4f4f4;
}
.texth2{
  margin-top: 10px;
  font-weight: bold;
}
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center; /* Canh nội dung bắt đầu ở trên cùng */
  z-index: 1000;
}
.modal-body{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 5%;
}
.transaction-info{
  flex: 1;
  text-align: left;
}
.product-info{
  flex: 1;
  text-align: left;
}

.modal-content {
  background: white;
  padding: 20px;
  border-radius: 8px;
  width: 50%;
  max-height: 100%;
  overflow-y: auto;
  display: flex;
  flex-direction: column; /* Đảm bảo các phần tử trong modal xếp theo chiều dọc */
}

.modal-close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  border: none;
  background: transparent;
  font-size: 18px;
  cursor: pointer;
}

.btn-detail {
  background-color: #007BFF; 
  color: white; 
  border: none; 
  padding: 10px 20px; 
  border-radius: 5px; 
  cursor: pointer; 
  font-size: 10px; 
  transition: background-color 0.3s ease; 
}

.btn-detail:hover {
  background-color: #0056b3; 
}